body, html{
   height: 100%;
   margin: 0px;
}

body{
    background-color:red;
}

nav li{
    display: inline;
    margin: 30px;
}

nav ul{
    background-color:black;
    margin: 10px;
    list-style-type:none;
    text-align: center;
    width:100%;
    padding: 20px;
    border-radius: 50px;
}

nav a{
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

nav a:hover{
    color:yellow;
}
    
.hero-image{
    background-image:url("../Images/chase.jpg");
    height:50%;
    border-radius:50%;
    border: 5px solid yellow;
}   

.hero-text{
    color:whitesmoke;
    text-align:center;
    position:absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

#main{
    width:75%;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:right;
    height:100%;
    padding-left:20px;
    padding-top:20px;
}

#side{
    width:20%;
    float:left;
    height:100%;
    padding:20px;
}

#image-a{
    border-radius: 50px;
    border: 5px solid yellow;
}

#profile-image{
    width:100px;
    border-radius:50%;
    border:5px solid yellow;
}

#profile{
    text-align:center
}

.side-articles ul{
    list-style-type: none;
    padding-left:0px;
}

#profile h2{
    display:inline;
}

#profile-details{
    margin-right:30px;
    text-align:center;
}

.side-articles,.main-articles{
    padding:10px;
    margin-bottom:10px;
    border-radius: 10px;
}

.side-articles{
    background-color:black;
    text-align:center;
    color:#728FCE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-articles{
    background-color:#E5E4E2;
}

.main-articles h1{
    color:#728FCE;
    text-decoration: underline;
    text-decoration-color: black;
}

form{
   margin-top:20px; 
}

textarea,input{
    background-color:lightgray;
    border:2px solid yellow;
    border-radius:5px;
    padding:5px;
    margin:5px;
}

.side-articles h1{
    margin-bottom:20px;
    color:whitesmoke;
    text-decoration:underline;
    text-decoration-color:black;

}

footer{
    width:100%;
    background-color:black;
    height:5wh;
    margin-top:0px;
}
footer div{
    text-align: center;
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    overflow:auto;
}

footer hr{
    margin-top:0px;
    height:12px;
    border:0px;
    box-shadow:inset 0 12px 12px -12px white
}