body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color:red;
}

nav a:hover{
    color:yellow;
}

nav a{
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

nav li{
    display: inline;
    margin: 30px;
}

nav ul{
    background-color:black;
    margin: 10px;
    list-style-type:none;
    text-align: center;
    width:100%;
    padding: 20px;
    border-radius: 50px;
}

#main{
    width:55%;
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    height:100%;
    padding-left:20px;
    padding-top:20px;
}

.main-articles h1{
    color:#728FCE;
    text-align: center;
}

.main-articles{
    background-color:#E5E4E2;
    color:#728FCE;
    border-radius: 50px;
    border: 5px solid yellow;
    padding:10px;
    margin-bottom:10px;
}

#profile-image{
    border: 5px solid black;
}

footer{
    width:100%;
    background-color:black;
    height:5wh;
    margin-top:0px;
}
footer div{
    text-align: center;
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    overflow:auto;
}

footer hr{
    margin-top:0px;
    height:12px;
    border:0px;
    box-shadow:inset 0 12px 12px -12px white
}